@model KullaniciAdresDetayViewModel

@{
    ViewBag.Title = "Kullanici Adres Detay";
}

<h2>Kullanici Adres Detay</h2>

@if (Model != null)
{
    <h4>@ViewBag.KullaniciAdSoyad Bilgileri</h4>
    <table class="table table-striped table-hover">
        <tr>
            <td>Adı</td>
            <td>@Model.Kullanici.Ad</td>
        </tr>
        <tr>
            <td>Soyad</td>
            <td>@Model.Kullanici.Soyad</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>@Model.Kullanici.Email</td>
        </tr>
        <tr>
            <td>Kullanıcı Adı</td>
            <td>@Model.Kullanici.KullaniciAdi</td>
        </tr>
        <tr>
            <td>Şifre</td>
            <td>@Model.Kullanici.Sifre</td>
        </tr>
    </table>

    <hr />

    <table class="table table-striped table-hover">
        <tr>
            <th>Şehir</th>
            <td>@Model.Adres.Sehir</td>
        </tr>
        <tr>
            <th>İlçe</th>
            <td>@Model.Adres.Ilce</td>
        </tr>
        <tr>
            <th>Açık Adres</th>
            <td>@Model.Adres.AcikAdres</td>
        </tr>
    </table>
}
